/*
<!-- Primary CSS - TElphee.io
This code belongs to TElphee.io set of html webpages.
Fully developed by Tanner Elphee. This website is used as my personal showcase, project sandbox, and platform template.
Developer assumes no responsibility for use of this website or illicit use of this code.
If you use this code please shoot me an email - telpheemail@aol.com. Cheers!
-->
*/

.bgimg{
    background-image: url(../Images/telpheeAvatar.jpg);
}

.section4a{
    background-color: mediumpurple;
}

#profileimg{
    width: 400px;
    height: 400px;
    float: left;
}
